@import "./_variables.scss";

.card {
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  min-height: 500px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    z-index: 0;
    border-radius: 10px;
  }

  & .card-content {
    z-index: 10;
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: fit-content;

    & h3 {
      color: $white-color;
      max-width: 80%;
      font-size: 1.5rem;
      font-weight: 600;
      text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      z-index: 99;
    }
  }
}
