@import "variables.scss";

.logo-desktop {
  display: block;
}

.logo-mobile {
  display: none;
}

@media screen and (max-width: $mobile-bp) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
}
