@import "./variables";

.tag {
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 9999px;
  background-color: $accent-color;
  font-size: 14.4px;
  font-weight: 600;
  color: $white-color;
  width: fit-content;
}
